<div class="row" style="margin-top: 150px">
    <div class="col-md-5 offset-md-4 col-sm-6 offset-sm-3">
      <div class="card auth">
        <div class="card-body auth-card">
          <div class="auth-avatar">
            <img src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png" alt="user" class="user-image">
          </div>
          <form [formGroup]="loginForm">
            <div class="form-group">
              <label for="PhoneNumber">Phone Number : </label>
              <input type="number" name="PhoneNumber" class="form-control no-arrow" placeholder="Phone Number" formControlName="PhoneNumber">
              <div *ngIf="loginForm.controls.PhoneNumber.errors && loginForm.controls.PhoneNumber.touched">
                <span *ngIf="loginForm.controls.PhoneNumber.errors.required" class="err">Phone Number is required.</span>
                <span *ngIf="loginForm.controls.PhoneNumber.errors.pattern" class="err">Invalid Phone Number.</span>
              </div>
              <div class="text-right resend-Otp co-white" *ngIf="isEnableOTP">
                <button class="btn-resend" (click)="changeNumber()">Change Phone Number</button>
              </div>
            </div>  
           
            <div class="form-group" *ngIf="isEnableOTP">
              <label for="Otp">OTP : </label>
              <input type="Otp" name="Otp" class="form-control" placeholder="OTP" formControlName="Otp">
              <div *ngIf="loginForm.controls.Otp.errors && loginForm.controls.Otp.touched">
                <span *ngIf="loginForm.controls.Otp.errors.required" class="err">Please enter OTP</span>
              </div>
              <div class="text-right resend-Otp co-white">
                {{ message }} <button [disabled]="message!=0" (click)="resendOtp()" class="btn-resend">resend OTP ?</button>
              </div>
            </div>
            <div class="text-center">
                <button *ngIf="!isEnableOTP" (click)="sendOtp()" [disabled]="loginForm.controls.PhoneNumber.invalid" class="btn">Send OTP</button>
                <button *ngIf="isEnableOTP" (click)="submit()" [disabled]="loginForm.controls.Otp.invalid" class="btn">submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>