
.err {
    color: #d39e00;
    font-size: 12px;
    font-style: italic;
}
.co-white {
    color: white;
}

.btn-resend {
    border: none;
    background: none;
}

.btn {
    background: #d39e00;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
}

.text-right {
    text-align: right;
}

.no-arrow {
    -moz-appearance: textfield;
}
.no-arrow::-webkit-inner-spin-button {
    display: none;
}
.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
